@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@400;500&display=swap');

body {
  background-color: #FFFFFF
}

h1 {
  font-family: 'DM Sans', sans-serif;
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: medium;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}
